.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  h3{
    color:white;padding-top: 17px;
  }

.title{
    height: 60px;
    background-color: darkcyan;
    text-align: center;
}